.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 20px;
  background: var(--background);
  border-bottom: 1px solid var(--border);
}

.link {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo {
  height: 24px;
}

.brand {
  font-size: 24px;
}

.button {
  display: none;
}

.menu {
  padding: 0;
  color: var(--text);
  cursor: pointer;
  background: none;
  border: 0;
}

@media (--tablet-portrait-up) {
  .logo {
    height: 32px;
  }

  .brand {
    font-size: 32px;
  }

  .button {
    display: block;
  }

  .menu {
    display: none;
  }
}
