.cast {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  word-break: break-word;
  border-bottom: 1px solid var(--border);
}

.content {
  display: flex;
  gap: 10px;
}

.pfp {
  flex-shrink: 0;
  border-radius: var(--radius-full);
  object-fit: cover;
}

.author {
  display: flex;
  gap: 10px;
}

.display {
  font-weight: bold;
}

.username {
  color: var(--muted);
}

.reactions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--muted);
}

.reaction {
  display: flex;
  gap: 6px;
  align-items: center;
  min-width: 65px;
}

.reaction > button {
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0;
}

.trigger {
  flex-shrink: 0;
  padding: 0;
  color: var(--muted);
  cursor: pointer;
  background: none;
  border: 0;
}

.popover {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.button {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  cursor: pointer;
  background: none;
  border: 0;
}

.button:hover {
  text-decoration: underline;
}

.arrow {
  fill: var(--background);
}

@media (--tablet-portrait-up) {
  .cast {
    padding: 20px 40px;
  }

  .reactions {
    gap: 32px;
    justify-content: flex-start;
  }
}
