.button {
  color: var(--muted);

  --color: #f3322c;
}

.button[data-liked='true'] {
  color: var(--color);
}

.icon {
  stroke: var(--muted);
}

.icon[data-liked='true'] {
  fill: var(--color);
  stroke: var(--color);
}
