.nav {
  flex: 0 0 220px;
  padding: 20px 0;
  border-right: 1px solid var(--border);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 8px;
  list-style: none;
}

.link {
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  border-radius: var(--radius);
}

.link[data-selected='true'] {
  font-weight: bold;
  background-color: var(--background-secondary);
}
