.nav {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px 12px;
  background: var(--background);
  border-right: 1px solid var(--border);
}

.nav[data-open='true'] {
  position: fixed;
  inset: 0;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 12px 0 0;
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  border-radius: var(--radius-full);
}

.close {
  padding: 0;
  color: var(--text);
  cursor: pointer;
  background: none;
  border: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.link {
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  border-radius: var(--radius);
}

.link[data-selected='true'] {
  font-weight: bold;
  background-color: var(--background-secondary);
}

@media (--tablet-portrait-up) {
  .nav {
    display: block;
    width: var(--nav-width);
    padding-top: 20px;
  }

  .header {
    display: none;
  }

  .user,
  .buttons {
    display: none;
  }
}
