:root {
  --background: #fff;
  --background-secondary: #eee;
  --text: #212529;
  --muted: #5b6671;
  --border: #c3c8ce;
  --radius: 8px;
  --radius-full: 9999px;
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
