:root {
  --background: #fff;
  --text: #212529;
  --border: var(--text);
  --radius: 8px;
  --radius-full: 9999px;
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
